.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// 没有头部的drawer
.el-drawer.no-header {
  overflow: visible;
  .el-drawer__header {
    height: 0;
    padding: 0;
    margin: 0;
  }
  .el-drawer__close-btn {
    background-color: var(--el-color-primary);
    position: absolute;
    left: -36px;
    top: 30%;
    border-radius: 4px 0 0 4px;
    color: #fff;
    padding: 8px;
  }
  .el-drawer__body {
    padding: 0;
  }
}
